@mixin font-face($font-name, $path, $weight: normal, $style: normal) {
    @font-face {
      font-family: quote($font-name);
      src:
        url(#{$path}.woff) format("woff"),
        url(#{$path}.woff2) format("woff2"),
        url(#{$path}.ttf) format("truetype");
      font-weight: $weight;
      font-style: $style;
    }
  }

  @include font-face('montserrat', '../fonts/montserrat/Montserrat-Regular', 400, 'normal');
  @include font-face('montserrat', '../fonts/montserrat/Montserrat-SemiBold', 600, 'normal');
  @include font-face('montserrat', '../fonts/montserrat/Montserrat-Bold', 700, 'normal');
